---
import type { JSX } from "astro/jsx-runtime";

export interface Props {
    company: string;
    roles: Role[];
}

export interface Role {
    title: string;
    date: string;
    description: string;
    tags?: { name: string; icon: JSX.Element }[];
}

export interface CompanyExperience {
    icompany: string;
    roles: Role[];
}

const { company, roles } = Astro.props;
---

<div class="company-experience mb-10">
    <div class="company-dot"></div>

    <h2 class="text-2xl font-bold text-gray-900 dark:text-yellow-200 mb-4">
        {company}
    </h2>

    <div class="roles">
        {
            roles.map((role) => (
                <div class="role-card mb-6 p-4 rounded-lg shadow-md dark:bg-gray-800 bg-white">
                    <h3 class="role-title text-lg font-semibold text-gray-900 dark:text-yellow-200">
                        {role.title} <span class="separator">|</span>
                        <span class="role-date">{role.date}</span>
                    </h3>
                    <p class="role-description text-gray-600 dark:text-gray-400 mt-4">
                        {role.description}
                    </p>

                    {role.tags && (
                        <div class="flex flex-wrap mt-4">
                            {role.tags.map((tag) => (
                                <span class="px-2 py-1 mr-2 mb-1 text-sm font-medium text-gray-900 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-200 hover:bg-white/5 hover:scale-110 transition duration-200 text-xs md:text-base">
                                    <tag.icon class="inline-block mr-1 icon-hover-effect" />
                                </span>
                            ))}
                        </div>
                    )}
                </div>
            ))
        }
    </div>
</div>
