---
import ExperienceCard from "./ExperienceCard.astro";
import data from "@/data/experience.json";
const experiences = data;
---

<section class="space-y-6">
    {experiences.map((exp) => <ExperienceCard {...exp} />)}
</section>
