---
import ProjectCard from "./ProjectCard.astro";
import data from "@/data/projects.json";
const projects = data;
---

<section class="grid gap-6 md:grid-cols-2">
    {projects.map((p) => <ProjectCard {...p} />)}
</section>
