---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/sections/Projects.astro";
import UserIcon from "../components/icons/User.astro";
import FormContact from "../components/sections/FormContact.astro";
import AddressIcon from "../components/icons/Address.astro";
import Experience from "@/components/sections/Experience.astro";
import AboutMe from "@/components/sections/AboutMe.astro";
import Newsletter from "@/components/sections/Newsletter.astro";
import Freelancer from "@/components/sections/Freelancer.astro";

import "../styles/globals.css";
---

<Layout
	title="Gonzalo Fernández — Backend Node.js/TS"
	description="Desarrollo backend escalable con Node.js & TypeScript."
>
	<Hero />

	<section id="experience" class="w-full mx-auto max-w-[740px] pb-24 px-4">
		<h2 class="text-3xl font-bold mb-6 pb-4 flex gap-x-3 items-center">
			<BriefcaseIcon class="size-7" />
			<span class="animate-title">Experiencia laboral</span>
		</h2>
		<div>
			<Experience />
		</div>
	</section>

	<section id="freelancer" class="w-full mx-auto max-w-[740px] pb-24 px-4">
		<h2 class="text-3xl font-bold mb-6 pb-4 flex gap-x-3 items-center">
			<BriefcaseIcon class="size-7" />
			<span class="animate-title">Freelancer</span>
		</h2>
		<Freelancer />
	</section>

	<section id="projects" class="container mx-auto pb-24 px-4 md:px-6 lg:px-8">
		<h2 class="text-3xl font-bold mb-6 pb-4 flex gap-x-3 items-center">
			<CodeIcon class="size-7" />
			<span class="animate-title">Proyectos</span>
		</h2>
		<Projects />
	</section>

	<section id="aboutMe" class="w-full mx-auto max-w-[740px] pb-24 px-4">
		<h2 class="text-3xl font-bold mb-6 pb-4 flex gap-x-3 items-center">
			<UserIcon class="size-7" />
			<span class="animate-title">Sobre mí</span>
		</h2>
		<AboutMe />
	</section>

	<section id="contact" class="w-full mx-auto max-w-[740px] pb-24 px-4">
		<h2 class="text-3xl font-bold mb-6 pb-4 flex gap-x-3 items-center">
			<AddressIcon class="size-7" />
			<span class="animate-title">Contacto</span>
		</h2>
		<FormContact />
	</section>

	<section id="newsletter">
		<h2 class="text-3xl font-bold mb-6 pb-4 flex gap-x-3 items-center">
			📬 <span class="animate-title">Newsletter</span>
		</h2>
		<Newsletter />
	</section>
</Layout>
