---
const personalImageAlt = "Gonzalo Nicolás Fernández";
---

<article class="flex gap-x-8 justify-center items-center flex flex-col-reverse md:flex-row gap-x-8 justify-center items-center">
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-300 [&>p>strong]:font-semibold text-pretty"
    >
        <p>
            Me llamo Gonzalo Nicolás Fernández. Después de trabajar durante años
            en otro sector, <strong
                >decidí emprender la carrera de Analista de Sistemas,
                encontrándome actualmente en el último año de la misma.</strong
            >
        </p>

        <p>
            <strong
                >Desde septiembre de 2021, trabajo como <em class="italic"
                    >Software Developer,</em
                >
            </strong>lo cual ha fortalecido mi pasión por la programación y el
            aprendizaje continuo.
        </p>

        <p>
            Mi pasión por la programación y el constante deseo de aprendizaje me
            motivan a buscar nuevos desafíos y proyectos para mejorar mis
            habilidades.
        </p>

        <p>
            <strong
                >Me describo como una persona curiosa, autodidacta y con un
                fuerte deseo de aprendizaje.</strong
            > Disfruto escuchando música mientras programo. Mi amor por aprender
            y compartir conocimientos me lleva a considerarme responsable, creativo
            y proactivo. Acepto con agrado los desafíos y metas, cuento con habilidades
            para trabajar en equipo y resolver problemas eficientemente, incluso
            en situaciones de alta presión.
        </p>
    </div>
    <!-- src="https://media.licdn.com/dms/image/D4D03AQE-tFaAQZ1Nyg/profile-displayphoto-shrink_200_200/0/1704371263147?e=2147483647&v=beta&t=zOvlfQs_5ZqBFa1ph-RUcMGUelpUyX1dVbKdqqQd6E8" -->
    <!-- <img
        src="/projects/gonza1.webp"
        class="rounded-full size-2/6"
        alt="Foto de Gonzalo Nicolás Fernández"
    /> -->
    <img
        width="200"
        height="200"
        src="/projects/gonza1.webp"
        alt={personalImageAlt}
        class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
        style="object-position: 50% 50%"
    />
</article>
