---
import styles from "../components/styles/aboutMe.module.css";

const personalImageAlt = "Gonzalo Nicolás Fernández";
---

<div class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
    <article
        class="flex gap-x-8 justify-center items-center flex-col-reverse md:flex-row gap-x-8 justify-center items-center"
    >
        <div
            class="[&>p]:mb-4 [&>p>strong]:text-yellow-300 [&>p>strong]:font-semibold text-pretty"
        >
            <p>
                Me llamo Gonzalo Nicolás Fernández. Después de una experiencia
                laboral en otro sector, decidí dar un giro hacia la tecnología y
                actualmente me encuentro finalizando la carrera de Analista de
                Sistemas, donde he desarrollado una sólida base técnica.
            </p>

            <p>
                <strong
                    >Desde septiembre de 2021, desempeño el rol de <em
                        class="italic">Software Developer,</em
                    ></strong
                >
                un camino que ha fortalecido mi compromiso con la programación y
                el aprendizaje continuo. Esta experiencia me ha permitido desarrollar
                una visión integral sobre el desarrollo de software y trabajar en
                proyectos desafiantes.
            </p>

            <p>
                Me impulsa una verdadera pasión por la programación y un
                constante deseo de mejorar. Esto me motiva a enfrentar nuevos
                desafíos y a participar en proyectos que me permitan ampliar mis
                conocimientos y habilidades técnicas.
            </p>

            <p>
                <strong
                    >Me considero una persona curiosa, autodidacta y con un alto
                    compromiso hacia la mejora continua.</strong
                >
                Disfruto profundizar en nuevas tecnologías mientras escucho música,
                y mi entusiasmo por aprender y compartir conocimientos me caracteriza
                como alguien responsable, creativo y proactivo. Trabajo eficazmente
                tanto en equipo como de manera individual, y me adapto bien a situaciones
                de alta presión, siempre orientado a encontrar soluciones efectivas
                y eficientes.
            </p>
        </div>
    </article>
</div>
