---
import ExperienceItem from "./ExperienceItem.astro";
import NodeIcon from "./icons/Node.astro";
import ReactIcon from "./icons/React.astro";
import MongoIcon from "./icons/MongoDB.astro";
import MysqlIcon from "./icons/Mysql.astro";
import AWSIcon from "./icons/Aws.astro";
import CSSIcon from "./icons/Css.astro";
import PythonIcon from "./icons/Python.astro";
import TypescriptIcon from "./icons/Typescript.astro";
import DockerIcon from "./icons/Docker.astro";
import GitIcon from "./icons/Git.astro";

const TAGS = {
    Node: {
        name: "Node.js",
        class: "bg-green-100 text-green-800",
        icon: NodeIcon,
    },
    React: {
        name: "React.js",
        class: "bg-blue-100 text-blue-800",
        icon: ReactIcon,
    },
    Mongodb: {
        name: "MongoDB",
        class: "bg-green-100 text-green-800",
        icon: MongoIcon,
    },
    Mysql: {
        name: "MySQL",
        class: "bg-blue-100 text-blue-800",
        icon: MysqlIcon,
    },
    AWS: {
        name: "AWS",
        class: "bg-yellow-100 text-yellow-800",
        icon: AWSIcon,
    },
    CSS: {
        name: "CSS",
        class: "bg-blue-100 text-blue-800",
        icon: CSSIcon,
    },
    Python: {
        name: "Python",
        class: "bg-blue-100 text-blue-800",
        icon: PythonIcon,
    },
    Typescript: {
        name: "Typescript",
        class: "bg-blue-100 text-blue-800",
        icon: TypescriptIcon,
    },
    Docker: {
        name: "Docker",
        class: "bg-blue-100 text-blue-800",
        icon: DockerIcon,
    },
    Git: {
        name: "Git",
        class: "bg-blue-100 text-blue-800",
        icon: GitIcon,
    },
};

const EXPERIENCE = [
    {
        title: "Backend Developer",
        company: "Simple AI",
        date: "November 2024 - Current",
        description:
            "Desarrollo de soluciones backend para optimizar procesos operativos y mejorar la satisfacción del cliente que combina inteligencia artificial y experiencia humana. Adaptación y automatización de flujos operativos mediante Puppeteer y Playwright, logrando eficiencias en tareas repetitivas y reducción de errores manuales. Implementación de funciones serverless con Node.js en AWS Lambda, aprovechando infraestructura escalable y reduciendo tiempos de procesamiento. Colaboración en un equipo ágil (Scrum) para asegurar la entrega continua de mejoras y actualizaciones.",
        tags: [
            TAGS.Node,
            TAGS.Mongodb,
            TAGS.AWS,
            TAGS.Typescript,
            TAGS.Docker,
            TAGS.Git,
        ],
    },
    {
        title: "Backend Developer",
        company: "Dam Squad",
        date: "May 2024 - October 2024",
        description:
            "Desarrollo de backend para una plataforma de gestión de usuarios con roles diferenciados y autenticación sin contraseña. Integración de Stripe para pagos y configuración de notificaciones automáticas por correo. Implementación de un sistema de intercambio de documentos categorizados, con avance automático de hitos según el tipo de documento subido. Colaboración en un entorno ágil (Scrum) asegurando entregas regulares.",
        tags: [TAGS.Node, TAGS.Typescript, TAGS.AWS, TAGS.Docker, TAGS.Git],
    },
    {
        title: "Backend Developer",
        company: "Blue Bit Software",
        date: "September 2021 - april 2024",
        description:
            "Desarrollo de un versionador de documentos que permitía a los usuarios regresar a versiones anteriores y publicar nuevas a partir de esas versiones, con firma digital y gestión de roles de usuario. Implementación de almacenamiento en S3 para guardar imágenes vinculadas a documentos y claves privadas de los usuarios, gestionadas mediante AWS KMS para garantizar la seguridad en la firma digital. Responsable de despliegues manuales en AWS (ECR, EC2), gestionando la infraestructura y el correcto funcionamiento de los contenedores. Redacción de documentación técnica detallada, fundamental para los usuarios finales y la operación del sistema.",
        tags: [
            TAGS.Node,
            TAGS.Mongodb,
            TAGS.AWS,
            TAGS.Typescript,
            TAGS.Docker,
            TAGS.Git,
        ],
    },
    {
        title: "Backend Developer",
        company: "Blue Bit Software",
        date: "March 2023 - August 2023",
        description:
            "Desarrollo del backend para una plataforma orientada al intercambio de assets virtuales, específicamente diseñada para influencers. Despliegue y automatización de contratos inteligentes, permitiendo la interacción directa con la blockchain para gestionar transacciones de assets. Responsable del despliegue y mantenimiento de la infraestructura en AWS, asegurando la escalabilidad y el correcto funcionamiento de los servicios. Interacción con diversas blockchains para la integración y operación de los contratos inteligentes.",
        tags: [
            TAGS.Node,
            TAGS.Mysql,
            TAGS.AWS,
            TAGS.Typescript,
            TAGS.Docker,
            TAGS.Git,
        ],
    },
    {
        title: "Software Developer",
        company: "Blue Bit Software",
        date: "February 2022 - June 2022",
        description:
            "Desarrollo de un proxy sin interfaz gráfica, diseñado para superar restricciones geográficas y mantener el anonimato en las conexiones. Implementación de scripts y automatizaciones que permitían asignar dinámicamente nuevas direcciones IP, reutilizando servicios restringidos por ubicación geográfica. Configuración y gestión de infraestructura en la nube para garantizar la estabilidad y el rendimiento del proxy. Adaptación continua del sistema a las necesidades del proyecto mediante el uso de automatización avanzada para la asignación de IPs.",
        tags: [TAGS.AWS, TAGS.Python, TAGS.Docker, TAGS.Git],
    },
    {
        title: "Frontend Developer",
        company: "Blue Bit Software",
        date: "September 2020 - August 2021",
        description:
            "Responsable del desarrollo y diseño de la página de inicio de la empresa utilizando React, CSS y Material-UI, siguiendo maquetas predefinidas para asegurar una interfaz visualmente atractiva y funcional. Implementación de virtualización de aplicaciones mediante Docker, optimizando el entorno de desarrollo y despliegue. Gestión eficiente de repositorios en GitHub y despliegue de la aplicación en AWS, garantizando un flujo de trabajo continuo y estable.",
        tags: [TAGS.React, TAGS.CSS, TAGS.AWS, TAGS.Docker, TAGS.Git],
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
