<!-- class="fixed bottom-0 left-0 z-20 w-full p-4 bg-black/20 backdrop-blur-lg border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600" -->
<footer
class= "bg-black/20 backdrop-blur-lg border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 w-full xl:w-[1120px] mx-auto mb-3"
    >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© 2024 <a href="https://www.linkedin.com/in/gonzalo-nicolas-fernandez/" class="hover:underline"
            >Gonzalo</a
        >. All Rights Reserved.
    </span>
    <ul
        class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">Home</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/gonzalo-nicolas-fernandez/" class="hover:underline">Contact</a>
        </li>
    </ul>
</footer>
