---
import HomeIcon from '../components/icons/Home.astro'
import LinkedIn from './icons/LinkedIn.astro';
const currentYear = new Date().getFullYear();
---

<footer
    class="bg-black/20 backdrop-blur-lg border-t border-black-200 shadow md:flex md:items-center md:justify-between md:p-3 w-full xl:w-[1120px] mx-auto mb-3"
>
    <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
    >
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
            >© {`${currentYear}`}
            <a
                href="https://www.linkedin.com/in/gonzalo-nicolas-fernandez/"
                class="hover:underline">Gonzalo</a
            >. All Rights Reserved.
        </span>
        <ul
            class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
        >
            <li>
                <HomeIcon class="w-5 h-5 inline-block mb-1" />
                <a href="#home" class="hover:underline me-4 md:me-6">Home</a>
            </li>
            <li>
                <LinkedIn class="w-5 h-5 inline-block mb-1" />
                <a
                    href="https://www.linkedin.com/in/gonzalo-nicolas-fernandez/"
                    class="hover:underline">LinkedIn</a
                    >
            </li>
        </ul>
    </div>
</footer>
