<!-- <section class="bg-gradient-to-br from-black via-gray-800 to-gray-900 dark:from-purple-900 dark:to-black rounded-lg"> -->
<section
    class="rounded-lg"
    style="background: radial-gradient(125% 155% at 50% 90%, #000 40%, #63e 100%);"
>
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <p
            class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl"
        >
            ¿Interesado en mi trabajo como desarrollador? ¿Tienes preguntas,
            propuestas o simplemente quieres conectarte? Estoy aquí para
            escucharte. ¡No dudes en ponerte en contacto!
        </p>
        <!-- <form action="#" class="space-y-8"> -->
        <form
            action="https://formspree.io/f/mnqejnlz"
            method="POST"
            class="space-y-8"
        >
            <div>
                <label
                    for="email"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Your email</label
                >
                <input
                    type="email"
                    id="email"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                    placeholder="To get in touch, provide your email."
                    required
                />
            </div>

            <div class="sm:col-span-2">
                <label
                    for="message"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
                    >Your message</label
                >
                <textarea
                    id="message"
                    rows="6"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    placeholder="Leave a comment..."></textarea>
            </div>

            <button
                class="bg-white/5
                border dark:border-white/10 border-gray-300
                rounded-full
                inline-flex justify-center items-center gap-x-2
                py-1 px-2 md:py-2 md:px-4
                text-xs md:text-base
                transition
                hover:scale-110 hover:bg-white/10
                focus:ring-4 focus:outline-none focus:ring-primary-300"
                type="submit"
                >Send message
            </button>
        </form>
    </div>
</section>
